html {
    scroll-behavior: smooth;
}
.navbar{
    background-color: rgba(39, 38, 38, 0.822);
}
.margin{
margin-bottom: 0px;
}
.paddin{
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-config a{
    font-weight: bold;
    background-color: rgb(165, 155, 19);
    color: white;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    font-size: 20pt;
}
.link-config a:hover{
    background-color: rgb(14, 13, 13);
}
.esp-botton{
    margin-top: 100px;
    margin-bottom: 100px;
    
}

@media screen and (max-width: 1268px) {
  container1{
    flex-direction: column;
  }
  
}
.quemsomos{
    font-weight: normal;
    color: rgb(65, 63, 63);
    font-size: 80pt;
    padding-left: 20px;
}

/*quem somos*/

.textquemsomos{
    margin-top: 100px;
    justify-content: center;
    font-weight: normal;
    font-size: 20px;
}
.imget, i{
    display: inline-block;
    margin-left: 150px;
    margin-top: 20px;

}

.container1{
display: flex;
align-items: center;
}

.imget{
    margin-bottom: 1px;
}

.link-config2 a{
    font-weight: bold;
    background-color: rgb(165, 155, 19);
    color: white;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    font-size: 20pt;
}
.link-config2 a:hover{
    background-color: rgb(14, 13, 13);
}
.GALERIA{
    font-weight: normal;
    color: rgb(65, 63, 63);
    font-size: 80pt;
    padding-left: 80px;
    padding-top:100px;
}
.row1{
    background-color: rgb(233, 230, 230);
    color: rgb(5, 5, 5);
    display: flex;
    align-items:center;
    margin-top: 50px;
    padding-top: 30px;
}

.corteocabelo{
    font-weight: normal;
    color: rgb(65, 63, 63);
    font-size: 30pt;
    padding-left: 500px;
    padding-top: 50px; 
    padding-bottom: 10px;
}
.footer{
    background-color: rgb(56, 55, 55);
    width: 100%;
    height: 300px;
    color: rgb(100, 101, 102);
    font-weight: bold;
}
.textfooter{
    font-size: 10px;
    color: rgb(169, 170, 170);
}